<h1>{{ .Title }}</h1>
{{ range .Words }}
<div class="item">
  <p class="name">{{.}}</p>
</div>
{{ end }}
<div class="user">
  <p class="username">{{.User.Username}}</p>
</div>
<div id="hey">
  <a v-for="link in pinks" :href="'/' + link.toLowerCase()" :key="link">[[ link ]]</a>
</div>
<!-- <a v-for="link in links" :href="'/' + link.toLowerCase()" :key="link">[[ link ]]</a> -->
<script>
  new Vue({
    delimiters: ["[[", "]]"],
    el: '#hey',
    data() {
      return {
        pinks: ["lout", "crout", "asdf", "bfgdbfg"],
        addSidebarClass: false,
      }
    },
    methods: {
      toggleNav() {
        this.addSidebarClass = !this.addSidebarClass
      }
    }
  })
</script>