:root {
  --main-bg: #3a3a34;
  --dark-bg: #222220,
  --primary: #8b6d49;
  --secondary: #6094aa;
  --shade: #adaeb034;
  --text: #f5f5f5;
  --xs: 0.4rem;
  --sm: 0.8rem;
  --md: 1.6rem;
  --lg: 2.4rem;
  --xl: 3.2rem;
  --xxl: 4rem;
  --shadow: 0rem 0.3rem 0.3rem -0.2rem rgba(0, 0, 0, 0.2),
    0rem 0.3rem 4px 0rem rgba(0, 0, 0, 0.14),
    0rem 0.1rem 0.8rem 0rem rgba(0, 0, 0, 0.12);
  --grayZero: #fafafa;
  --grayOne: #f5f5f5;
  --grayTwo: #eeeeee;
  --grayThree: #e0e0e0,
  --grayFour: #bdbdbd;
  --grayFive: #9e9e9e;
  --graySix: #757575;
  --graySeven: #616161;
  --grayEight: #424242;
  --grayNine: #212121;
  --darkGray: #121212;
  --coolGrayZero: #eceff1;
  --coolGrayOne: #cfd8dc;
  --coolGrayTwo: #b0bec5;
  --coolGrayThree: #90a4ae;
  --coolGrayFour: #78909c;
  --coolGrayFive: #607d8b;
  --coolGraySix: #546e7a;
  --coolGraySeven: #455a64;
  --coolGrayEight: #37474f;
  --coolGrayNine: #263238;
  --brownZero: #efebe9;
  --brownOne: #d7ccc8;
  --brownTwo: #bcaaa4;
  --brownThree: #a1887f;
  --brownFour: #8d6e63;
  --brownFive: #795548;
  --brownSix: #6d4c41;
  --brownSeven: #5d4037;
  --brownEight: #4e342e;
  --brownNine: #3e2723;
  --redZero: #ffebee;
  --redOne: #ffcdd2;
  --redTwo: #ef9a9a;
  --redThree: #e57373;
  --redFour: #ef5350,
  --redFive: #f44336;
  --redSix: #e53935;
  --redSeven: #d32f2f;
  --redEight: #c62828;
  --redNine: #b71c1c;
  --redAOne: #ff8a80,
  --redATwo: #ff5252;
  --redAFour: #ff1744;
  --redASeven: #d50000,
  --deepOrangeZero: #fbe9e7;
  --deepOrangeOne: #ffccbc;
  --deepOrangeTwo: #ffab91;
  --deepOrangeThree: #ff8a65;
  --deepOrangeFour: #ff7043;
  --deepOrangeFive: #ff5722;
  --deepOrangeSix: #f4511e;
  --deepOrangeSeven: #e64a19;
  --deepOrangeEight: #d84315;
  --deepOrangeNine: #bf360c;
  --deepOrangeAOne: #ff9e80,
  --deepOrangeATwo: #ff6e40,
  --deepOrangeAFour: #ff3d00,
  --deepOrangeASeven: #dd2c00,
  --orangeZero: #fff3e0,
  --orangeOne: #ffe0b2;
  --orangeTwo: #ffcc80,
  --orangeThree: #ffb74d;
  --orangeFour: #ffa726;
  --orangeFive: #ff9800,
  --orangeSix: #fb8c00,
  --orangeSeven: #f57c00,
  --orangeEight: #ef6c00,
  --orangeNine: #e65100,
  --orangeAOne: #ffd180,
  --orangeATwo: #ffab40,
  --orangeAFour: #ff9100,
  --orangeASeven: #ff6d00,
  --amberZero: #fff8e1;
  --amberOne: #ffecb3;
  --amberTwo: #ffe082;
  --amberThree: #ffd54f;
  --amberFour: #ffca28;
  --amberFive: #ffc107;
  --amberSix: #ffb300,
  --amberSeven: #ffa000,
  --amberEight: #ff8f00,
  --amberNine: #ff6f00,
  --amberAOne: #ffe57f;
  --amberATwo: #ffd740,
  --amberAFour: #ffc400,
  --amberASeven: #ffab00,
  --yellowZero: #fffde7;
  --yellowOne: #fff9c4;
  --yellowTwo: #fff59d;
  --yellowThree: #fff176;
  --yellowFour: #ffee58;
  --yellowFive: #ffeb3b;
  --yellowSix: #fdd835;
  --yellowSeven: #fbc02d;
  --yellowEight: #f9a825;
  --yellowNine: #f57f17;
  --yellowAOne: #ffff8d;
  --yellowATwo: #ffff00,
  --yellowAFour: #ffea00,
  --yellowASeven: #ffd600,
  --limeZero: #f9fbe7;
  --limeOne: #f0f4c3;
  --limeTwo: #e6ee9c;
  --limeThree: #dce775;
  --limeFour: #d4e157;
  --limeFive: #cddc39;
  --limeSix: #c0ca33;
  --limeSeven: #afb42b;
  --limeEight: #9e9d24;
  --limeNine: #827717;
  --limeAOne: #f4ff81;
  --limeATwo: #eeff41;
  --limeAFour: #c6ff00,
  --limeASeven: #aeea00,
  --lightGreenZero: #f1f8e9;
  --lightGreenOne: #dcedc8;
  --lightGreenTwo: #c5e1a5;
  --lightGreenThree: #aed581;
  --lightGreenFour: #9ccc65;
  --lightGreenFive: #8bc34a;
  --lightGreenSix: #7cb342;
  --lightGreenSeven: #689f38;
  --lightGreenEight: #558b2f;
  --lightGreenNine: #33691e;
  --lightGreenAOne: #ccff90,
  --lightGreenATwo: #b2ff59;
  --lightGreenAFour: #76ff03;
  --lightGreenASeven: #64dd17;
  --greenZero: #e8f5e9;
  --greenOne: #c8e6c9;
  --greenTwo: #a5d6a7;
  --greenThree: #81c784;
  --greenFour: #66bb6a;
  --greenFive: #4caf50,
  --greenSix: #43a047;
  --greenSeven: #388e3c;
  --greenEight: #2e7d32;
  --greenNine: #1b5e20,
  --greenAOne: #b9f6ca;
  --greenATwo: #69f0ae;
  --greenAFour: #00e676;
  --greenASeven: #00c853;
  --tealZero: #e0f2f1;
  --tealOne: #b2dfdb;
  --tealTwo: #80cbc4;
  --tealThree: #4db6ac;
  --tealFour: #26a69a;
  --tealFive: #009688;
  --tealSix: #00897b;
  --tealSeven: #00796b;
  --tealEight: #00695c;
  --tealNine: #004d40,
  --tealAOne: #a7ffeb;
  --tealATwo: #64ffda;
  --tealAFour: #1de9b6;
  --tealASeven: #00bfa5;
  --cyanZero: #e0f7fa;
  --cyanOne: #b2ebf2;
  --cyanTwo: #80deea;
  --cyanThree: #4dd0e1;
  --cyanFour: #26c6da;
  --cyanFive: #00bcd4;
  --cyanSix: #00acc1;
  --cyanSeven: #0097a7;
  --cyanEight: #00838f;
  --cyanNine: #006064;
  --cyanAOne: #84ffff;
  --cyanATwo: #18ffff;
  --cyanAFour: #00e5ff;
  --cyanASeven: #00b8d4;
  --lightBlueZero: #e1f5fe;
  --lightBlueOne: #b3e5fc;
  --lightBlueTwo: #81d4fa;
  --lightBlueThree: #4fc3f7;
  --lightBlueFour: #29b6f6;
  --lightBlueFive: #03a9f4;
  --lightBlueSix: #039be5;
  --lightBlueSeven: #0288d1;
  --lightBlueEight: #0277bd;
  --lightBlueNine: #01579b;
  --lightBlueAOne: #80d8ff;
  --lightBlueATwo: #40c4ff;
  --lightBlueAFour: #00b0ff;
  --lightBlueASeven: #0091ea;
  --blueZero: #e3f2fd;
  --blueOne: #bbdefb;
  --blueTwo: #90caf9;
  --blueThree: #64b5f6;
  --blueFour: #42a5f5;
  --blueFive: #2196f3;
  --blueSix: #1e88e5;
  --blueSeven: #1976d2;
  --blueEight: #1565c0,
  --blueNine: #0d47a1;
  --blueAOne: #82b1ff;
  --blueATwo: #448aff;
  --blueAFour: #2979ff;
  --blueASeven: #2962ff;
  --indigoZero: #e8eaf6;
  --indigoOne: #c5cae9;
  --indigoTwo: #9fa8da;
  --indigoThree: #7986cb;
  --indigoFour: #5c6bc0,
  --indigoFive: #3f51b5;
  --indigoSix: #3949ab;
  --indigoSeven: #303f9f;
  --indigoEight: #283593;
  --indigoNine: #1a237e;
  --indigoAOne: #8c9eff;
  --indigoATwo: #536dfe;
  --indigoAFour: #3d5afe;
  --indigoASeven: #304ffe;
  --deepPurpleZero: #ede7f6;
  --deepPurpleOne: #d1c4e9;
  --deepPurpleTwo: #b39ddb;
  --deepPurpleThree: #9575cd;
  --deepPurpleFour: #7e57c2;
  --deepPurpleFive: #673ab7;
  --deepPurpleSix: #5e35b1;
  --deepPurpleSeven: #512da8;
  --deepPurpleEight: #4527a0,
  --deepPurpleNine: #311b92;
  --deepPurpleAOne: #b388ff;
  --deepPurpleATwo: #7c4dff;
  --deepPurpleAFour: #651fff;
  --deepPurpleASeven: #6200ea;
  --purpleZero: #f3e5f5;
  --purpleOne: #e1bee7;
  --purpleTwo: #ce93d8;
  --purpleThree: #ba68c8;
  --purpleFour: #ab47bc;
  --purpleFive: #9c27b0,
  --purpleSix: #8e24aa;
  --purpleSeven: #7b1fa2;
  --purpleEight: #6a1b9a;
  --purpleNine: #4a148c;
  --purpleAOne: #ea80fc;
  --purpleATwo: #e040fb;
  --purpleAFour: #d500f9;
  --purpleASeven: #aa00ff;
  --pinkZero: #fce4ec;
  --pinkOne: #f8bbd0;
  --pinkTwo: #f48fb1;
  --pinkThree: #f06292;
  --pinkFour: #ec407a;
  --pinkFive: #e91e63;
  --pinkSix: #d81b60;
  --pinkSeven: #c2185b;
  --pinkEight: #ad1457;
  --pinkNine: #880e4f;
  --pinkAOne: #ff80ab;
  --pinkATwo: #ff4081;
  --pinkAFour: #f50057;
  --pinkASeven: #c51162;
  --whiteAlphaZero: rgba(255, 255, 255, 0.04);
  --whiteAlphaOne: rgba(255, 255, 255, 0.06);
  --whiteAlphaTwo: rgba(255, 255, 255, 0.08);
  --whiteAlphaThree: rgba(255, 255, 255, 0.16);
  --whiteAlphaFour: rgba(255, 255, 255, 0.24);
  --whiteAlphaFive: rgba(255, 255, 255, 0.36);
  --whiteAlphaSix: rgba(255, 255, 255, 0.48);
  --whiteAlphaSeven: rgba(255, 255, 255, 0.64);
  --whiteAlphaEight: rgba(255, 255, 255, 0.8);
  --whiteAlphaNine: rgba(255, 255, 255, 0.92);
  --blackAlphaZero: rgba(0, 0, 0, 0.04);
  --blackAlphaOne: rgba(0, 0, 0, 0.06);
  --blackAlphaTwo: rgba(0, 0, 0, 0.08);
  --blackAlphaThree: rgba(0, 0, 0, 0.16);
  --blackAlphaFour: rgba(0, 0, 0, 0.24);
  --blackAlphaFive: rgba(0, 0, 0, 0.36);
  --blackAlphaSix: rgba(0, 0, 0, 0.48);
  --blackAlphaSeven: rgba(0, 0, 0, 0.64);
  --blackAlphaEight: rgba(0, 0, 0, 0.8);
  --blackAlphaNine: rgba(0, 0, 0, 0.92);
  /* --background: #eeeeee; */
}
